/*** Imports ***/
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*** HTML Elements ***/
::selection { background: #fff; color: rgba(0,0,255,0.8); }

a, h1, h2, h3, h4, h5, h6, p, li { line-height: 150%; }

body {
  font-family: 'Oswald', monospace, sans-serif;  
  overflow-x: hidden !important;
}

body, html { scroll-behavior: smooth !important; }

a { color: #fff; text-decoration: none; }

header nav {
  background-color: #634F3C;
  border-right: 1px solid red;
  color: #fff;  
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  height: 100%;
  overflow-x: hidden;
  text-align: center; 
}

header nav li {
  font-family: 'Helvetica', 'Arial', sans-serif;  
  font-size: 18px;  
  letter-spacing: 1px;
  margin-right: 1em;
}

header nav li:hover {
  background-color: rgba(255, 196, 0, 0.993); 
  background-color: rgba(255, 196, 0, 0.993);  
  cursor: pointer;
}

header nav ul li {
  padding-bottom: 0.5em;
  padding-top: 0.5em;  
}

main { margin-left: 300px; }

li { list-style: none; }

/*** Classes ***/
.btn {
  border-radius: 3px;
  display: inline-block;
  line-height: 40px;
  margin-top: 30px;
  padding: 4px 25px;
  text-align: center;
  width: 150px;
}

.bg-brown {
  background: #634F3C;
  background-color: #634F3C;  
}

.bg-orange {
  background: rgba(255, 196, 0, 0.993);
  background-color:rgba(255, 196, 0, 0.993);  
}

.bg-white {
  background: #FAF3EB;
  background-color: #FAF3EB;
}

.dark-overlay {
  background: rgba(0,0,0, 0.5);
  background-color:rgba(0,0,0, 0.5);
  z-index: 2;
}

.fa-facebook, .fa-instagram {
  font-size: 2em;  
  margin: 0.5em;
}

.fa-facebook:hover, .fa-instagram:hover { color: rgba(255, 196, 0, 0.993); }

.hero { overflow-x: hidden; }
.hero video {
  height: auto;
  min-height: 650px;
  max-width: 100%; 
}

.hero-text {
  position: absolute;
  left: 350px;
  top: 250px;  
}
.hero-text h1 { font-size: 25px; margin: 0; }
.hero-text h2 { font-size: 60px; margin: 0; }
.hero-text p { font-size: 27px; margin: 0; }

.hr-grey {
 border-bottom: 1px solid #c7b9a9; 
 width: 30%;
}

.img-thumb {
  margin: 1em;
  height: auto;
  width: 100%;
  max-width: 250px;
}

.inline-block { display: inline-block; }

.menu-divider {
  background-color:#fff;  
  display: inline-block;
  height: 1px;
  width: 50%;
}

.no-underline:hover { text-decoration: none; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.pt-01, .pt-02 { margin: 0; }

.pt-01 {
  color: #fff;
  font-size: 62px;
}

.pt-02 {
  color:rgba(255, 196, 0, 0.993);
  font-size: 22px;
}

.special-events-cta { z-index: -1; }

.text-center { text-align: center; }

.text-black { color: #3d3833; }
.text-grey { color: #c7b9a9; }
.text-orange { color: rgba(255, 196, 0, 0.993); }
.text-orange-dark { color: #f8751e; }
.text-white { color: #fff; }


/*** IDs ***/
#about-btn:hover {
  background: #fff;
  background-color: #fff;  
  color: rgba(255, 196, 0, 0.993);
}

#parallax-text {
  margin-top: -450px !important;
  position: relative;
  top: 0px;
  text-align: center;
}

#reserve-btn:hover {
  background: #fff;
  color: #634F3C;
}

/*** Media Queries ***/
@media only screen and (min-width: 1080px)
{
  header nav li:hover {
    transform: scale(1.2);
  }

  #parallax-text .btn:hover { transform: scale(1.1); }

  .special-events-cta { min-height: 600px; }
}

@media only screen and (min-width: 800px) and (max-width: 1080px)
{
  header nav { width: 200px; }
  main { margin-left: 200px; }

  .special-events-cta { min-height: 600px; }
}

@media only screen and (min-width: 600px) and (max-width: 800px)
{
  header nav { display: none; }
  main { margin-left: 0; }

  .hero, .hero video { max-width: 100%; }
  .hero-text { 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; 
    top: 80px; 
    text-align: center; 
  }
  .hero-text h2 { color: #fff; font-size: 40px; margin: 0; }
  .hero-text p { color: #fff; font-size: 27px; margin: 0; }

  .special-events-cta { min-height: 900px; }

  #parallax-text { position: relative; left: 0; top: -200px; }
}

@media only screen and (min-width: 600px) { #about-info { padding: 0.5em 6em; } }

@media only screen and (max-width: 599px)
{
  header nav { display: none; }
  main { margin-left: 0; }

  .hero, .hero video { max-width: 100%; }
  .hero-text { background: #FAF3EB; position: relative; left: 0; top: 0px; text-align: center; }
  .hero-text h2 { color: #222; font-size: 40px; margin: 0; }
  .hero-text p { color: #222; font-size: 27px; margin: 0; }

  .special-events-cta { min-height: 950px; }

  #parallax-text { position: relative; left: 0; top: 0px; margin-top: -950px !important; }
}

@media only screen and (min-width: 450px) and (max-width: 600px)
{
  #parallax-text { position: relative; left: 0; top: 50px; margin-top: -950px !important; }
}